
@{
    ViewData["Title"] = "Index";
}

<div class="Legenda_Cadastro" align="center"><h1><i class="fa fa-cogs">&nbsp;</i>Controle de Produtos</h1></div>

<div id="ResultG"></div>

<a class="btn btn-default" onclick="Insert()" id="GridButtons"><i class="fa fa-plus" aria-hidden="true">&nbsp;</i>Novo</a><a class="btn btn-default"  href="@Url.Action("Index", "Category")"><i class="fa fa-list-alt" aria-hidden="true">&nbsp;</i>Categorias</a>
<br />
<table id="Tb_Product" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Sit</th>  
            <th></th>
            <th>Nome</th>            
            <th>Descrição</th>
            <th>Estoque:</th>
            <th>Preço</th>
            <th>Inativo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Products)
        {
        <tr>
            <td align="center">
                @if(item.Delete == true)
                {
                    <span class="badge badge-danger" style="color: white; background-color: grey;" title="Este produto não irá aparecer na loja">Inativo</span>
                }
                else if (item.Stock == null || item.Stock == 0)
                {
                    <span class="badge badge-danger" style="color: white; background-color: red;">Esgotado</span>
                }
                else
                {
                    <span class="badge badge-danger" style="color: white; background-color: blue;">Disponivel</span>
                }
            </td>
            <td>
                @if (item.Avatar == null || item.Avatar == "")
                {
                    <img src="~/images/unnamed.jpg" id="Avatar" width="100px" />
                }
                else
                {
                    <img src="@item.Avatar" id="Avatar" width="100px" />
                }
            </td>
            <td>@item.Name</td>

            <td>@item.Description</td>

            <td>@item.Stock</td>

            <td>@item.Value</td>

            <td>@item.Delete</td>

            <td>

                <a title="Visualizar"><i class="fa fa-low-vision fa-2x"></i></a>
                <a title="Editar" onclick="Edit(@item.ProductId)"><i class="fa fa-pencil-square-o fa-2x"></i></a>
                <a title="Remover" onclick="Remove(@item.ProductId)"><i class="fa fa-times fa-2x"></i></a>

            </td>
        </tr>
        }
    </tbody>
</table>

