
@{
    Layout = null;
}
<div>
    <section>

        <form asp-formhelper="true" id="Create" enctype="multipart/form-data" asp-controller="Product" asp-action="Remove">

            <fieldset>
                <h2><i class="glyphicon glyphicon-remove">&nbsp;</i>Remover</h2>
                <div id="result">
                    <div class="alert alert-danger" role="alert">
                        <i class="fa fa-info-circle">&nbsp;</i>Tem certeza que deseja remover o produto?
                    </div>
                </div>
                <input style="display:none" type="number" name="ProductId" class="form-control" id="ProductId" value="@Model.ProductId" aria-describedby="form-nome">
                <div class="btn-toolbar" role="toolbar">
                    <div class="row col-lg-12">
                        <div class="input-group">
                            <span class="input-group-addon" id="form-nome">Nome</span>
                            <input type="text" disabled name="Name" class="form-control" id="Name" value="@Model.Name" aria-describedby="form-nome">

                            <span class="input-group-addon" id="form-nome">Categoria:</span>
                            <input disabled id="CategoryId" name="CategoryId" value="@Model.CategoryId" class="form-control">
                        </div>

                    </div>
                </div>

                <br />
                <div class="col-lg-10">
                    <textarea rows="4" disabled type="text" class="form-control" id="Description" value="@Model.Description" name="Description" placeholder="Descrição" required>@Model.Description</textarea>
                </div>
            </fieldset>
            <div class="row" align="center">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times">&nbsp</i>Fechar</button>
                <button type="button" class="btn btn-default" value="Register" onclick="Remove_Dao()"><i class="fa fa-floppy-o">&nbsp</i>Confirmar</button>

            </div>
        </form>
    </section>
</div>
        
